In [92]:
from google.colab import files
uploaded = files.upload()

Saving clustering_rules.csv to clustering_rules (8).csv

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['clustering_rules.csv']))

In [94]:
import pandas as pd
import matplotlib.pyplot as plt

df

   Unnamed: 0  tenure  MonthlyCharges  ...  PaperlessBilling  PaymentMethod  Churn
0           0      94              37  ...                 1              0      1
1           1      83               9  ...                 0              1      1
2           2      39               9  ...                 1              0      1
3           3      25              32  ...                 0              0      0
4           4      90              59  ...                 1              2      0
5           5      70              17  ...                 1              0      0

[6 rows x 20 columns]

In [95]:
df=df.drop(['Unnamed: 0'], axis=1)
df

   tenure  MonthlyCharges  gender  ...  PaperlessBilling  PaymentMethod  Churn
0      94              37       1  ...                 1              0      1
1      83               9       0  ...                 0              1      1
2      39               9       0  ...                 1              0      1
3      25              32       1  ...                 0              0      0
4      90              59       0  ...                 1              2      0
5      70              17       1  ...                 1              0      0

[6 rows x 19 columns]

In [96]:
df.corr()

                    tenure  MonthlyCharges  ...  PaymentMethod     Churn
tenure            1.000000        0.353451  ...   5.236057e-01  0.198356
MonthlyCharges    0.353451        1.000000  ...   5.584223e-01 -0.496805
gender           -0.147167        0.084363  ...  -6.546537e-01 -0.333333
SeniorCitizen          NaN             NaN  ...            NaN       NaN
Partner           0.287936        0.440563  ...   2.182179e-01  0.333333
Dependents        0.683195        0.828523  ...   4.629100e-01  0.000000
PhoneService      0.588181       -0.165705  ...  -1.284833e-17  0.707107
MultipleLines     0.108776        0.871752  ...   2.182179e-01 -0.333333
InternetService   0.851009        0.440563  ...   6.546537e-01  0.333333
OnlineSecurity   -0.286153        0.645573  ...  -4.875600e-17 -0.447214
OnlineBackup      0.683195        0.828523  ...   4.629100e-01  0.000000
DeviceProtection  0.397752        0.800678  ...   8.783101e-01 -0.447214
TechSupport       0.683195        0.828523  ...   4.629100e-01  0.000000
StreamingTV       0.683195        0.828523  ...   4.629100e-01  0.000000
StreamingMovies   0.683195        0.828523  ...   4.629100e-01  0.000000
Contract         -0.253370        0.729101  ...   4.629100e-01 -0.707107
PaperlessBilling  0.348384        0.265128  ...  -5.139334e-17  0.000000
PaymentMethod     0.523606        0.558422  ...   1.000000e+00 -0.218218
Churn             0.198356       -0.496805  ...  -2.182179e-01  1.000000

[19 rows x 19 columns]

In [97]:
importance=list(df.corr()['Churn'])
features=list(df.columns)

imp_df=pd.DataFrame({'Feature': features,'importance':importance})
imp_df

             Feature  importance
0             tenure    0.198356
1     MonthlyCharges   -0.496805
2             gender   -0.333333
3      SeniorCitizen         NaN
4            Partner    0.333333
5         Dependents    0.000000
6       PhoneService    0.707107
7      MultipleLines   -0.333333
8    InternetService    0.333333
9     OnlineSecurity   -0.447214
10      OnlineBackup    0.000000
11  DeviceProtection   -0.447214
12       TechSupport    0.000000
13       StreamingTV    0.000000
14   StreamingMovies    0.000000
15          Contract   -0.707107
16  PaperlessBilling    0.000000
17     PaymentMethod   -0.218218
18             Churn    1.000000