In [0]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
url = 'https://raw.githubusercontent.com/SohelRaja/ML_repo_college/master/Decision%20Tree%20with%20Python/WA_Fn-UseC_-Telco-Customer-Churn.csv'
telco = pd.read_csv(url)
telco=telco.drop(['customerID','TotalCharges'] , axis=1)
telco.head()

   gender  SeniorCitizen  ... MonthlyCharges Churn
0  Female              0  ...          29.85    No
1    Male              0  ...          56.95    No
2    Male              0  ...          53.85   Yes
3    Male              0  ...          42.30    No
4  Female              0  ...          70.70   Yes

[5 rows x 19 columns]

### Data cleaning and data handling

In [80]:
telco['Partner'].replace(to_replace=[['No'],['Yes']],value=['PartnerNo','PartnerYes'],inplace=True)
telco['Dependents'].replace(to_replace=[['No'],['Yes']],value=['Independent','Dependent'],inplace=True)
telco['PhoneService'].replace(to_replace=[['No'],['Yes']],value=['PSNo','PSYes'],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['No'],['Yes']],value=['PLBNo','PLBYes'],inplace=True)
telco['MultipleLines'].replace(to_replace=[['No phone service'],['No'],['Yes']],value=['MLNo','MLNo','MLYes'],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OSNo','OSNo','OSYes'],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OBNo','OBNo','OBYes'],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['DPNo','DPNo','DPYes'],inplace=True)
telco['TechSupport'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['TSNo','TSNo','TSYes'],inplace=True)
telco['StreamingTV'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['STVNo','STVNo','STVYes'],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['SMNo','SMNo','SMYes'],inplace=True)
telco.head()

   gender  SeniorCitizen  ... MonthlyCharges Churn
0  Female              0  ...          29.85    No
1    Male              0  ...          56.95    No
2    Male              0  ...          53.85   Yes
3    Male              0  ...          42.30    No
4  Female              0  ...          70.70   Yes

[5 rows x 19 columns]

In [81]:
telco['gender'].replace(to_replace=[['Female'],['Male']],value=[0,1],inplace=True)
telco['Partner'].replace(to_replace=[['PartnerNo'],['PartnerYes']],value=[0,1],inplace=True)
telco['Dependents'].replace(to_replace=[['Independent'],['Dependent']],value=[0,1],inplace=True)
telco['PhoneService'].replace(to_replace=[['PSNo'],['PSYes']],value=[0,1],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['PLBNo'],['PLBYes']],value=[0,1],inplace=True)
telco['MultipleLines'].replace(to_replace=[['MLNo'],['MLYes']],value=[0,1],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['OSNo'],['OSYes']],value=[0,1],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['OBNo'],['OBYes']],value=[0,1],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['DPNo'],['DPYes']],value=[0,1],inplace=True)
telco['TechSupport'].replace(to_replace=[['TSNo'],['TSYes']],value=[0,1],inplace=True)
telco['StreamingTV'].replace(to_replace=[['STVNo'],['STVYes']],value=[0,1],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['SMNo'],['SMYes']],value=[0,1],inplace=True)
telco['InternetService'].replace(to_replace=[['DSL'],['Fiber optic'],['No']],value=[0,1,2],inplace=True)
telco['PaymentMethod'].replace(to_replace=[['Electronic check'],['Mailed check'],['Bank transfer (automatic)'],['Credit card (automatic)']],value=[0,1,2,3],inplace=True)
telco['Contract'].replace(to_replace=[['Month-to-month'], ['One year'], ['Two year']],value=[0,1,2],inplace=True)
telco['Churn'].replace(to_replace=[['No'], ['Yes']],value=[0,1],inplace=True)
telco.head()

   gender  SeniorCitizen  Partner  ...  PaymentMethod  MonthlyCharges  Churn
0       0              0        1  ...              0           29.85      0
1       1              0        0  ...              1           56.95      0
2       1              0        0  ...              1           53.85      1
3       1              0        0  ...              2           42.30      0
4       0              0        0  ...              0           70.70      1

[5 rows x 19 columns]

In [76]:
# #telco['TotalCharges'].apply(pd.to_numeric)
# telco['TotalCharges']=telco['TotalCharges'].astype(str)
# list(telco.TotalCharges)
# telco.TotalCharges.dtype

dtype('O')

In [93]:
df=telco
df_1=df[df['Churn']==1]
df_0=df[df['Churn']==0]
df.describe()

            gender  SeniorCitizen  ...  MonthlyCharges        Churn
count  7043.000000    7043.000000  ...     7043.000000  7043.000000
mean      0.504756       0.162147  ...       64.761692     0.265370
std       0.500013       0.368612  ...       30.090047     0.441561
min       0.000000       0.000000  ...       18.250000     0.000000
25%       0.000000       0.000000  ...       35.500000     0.000000
50%       1.000000       0.000000  ...       70.350000     0.000000
75%       1.000000       0.000000  ...       89.850000     1.000000
max       1.000000       1.000000  ...      118.750000     1.000000

[8 rows x 19 columns]

# Clustering

In [23]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.13.2)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.3.1)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.21.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.16.5)

# Kmodes clustering

## Kmode clustering for the dataset where Y=0

In [0]:
num_of_clusters=10

In [83]:
from kmodes.kmodes import KModes


km = KModes(n_clusters=num_of_clusters, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df_0)

df_0_centroids=km.cluster_centroids_

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 1976, cost: 27766.0
Run 1, iteration: 2/100, moves: 415, cost: 27766.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 1573, cost: 28532.0
Run 2, iteration: 2/100, moves: 1114, cost: 28430.0
Run 2, iteration: 3/100, moves: 219, cost: 28430.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 1669, cost: 28402.0
Run 3, iteration: 2/100, moves: 432, cost: 28402.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 1612, cost: 29326.0
Run 4, iteration: 2/100, moves: 388, cost: 29194.0
Run 4, iteration: 3/100, moves: 29, cost: 29194.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 1663, cost: 29287.0
Run 5, iteration: 2/100, moves: 469, cost: 29274.0
Run 5, iteration: 3/100, moves: 1, cost: 29274.0
Best run was number 1

In [84]:
print("Centroids:\n")
print(df_0_centroids)

Centroids:

[[  0.     0.     0.     0.    72.     1.     0.     1.     0.     1.
    1.     1.     1.     1.     1.     1.     0.   100.3    0.  ]
 [  1.     0.     1.     0.     1.     1.     0.     2.     0.     0.
    0.     0.     0.     0.     1.     1.     1.    19.95   0.  ]
 [  0.     0.     1.     1.    72.     1.     0.     0.     1.     1.
    0.     0.     0.     0.     0.     0.     2.    55.3    0.  ]
 [  0.     0.     0.     0.     3.     1.     1.     1.     0.     0.
    0.     0.     0.     0.     0.     1.     0.    80.55   0.  ]
 [  1.     0.     1.     1.     1.     1.     0.     0.     0.     0.
    0.     0.     0.     0.     0.     0.     0.    20.     0.  ]
 [  0.     0.     0.     0.     1.     1.     0.     0.     0.     0.
    0.     0.     0.     0.     0.     0.     1.    19.9    0.  ]
 [  1.     0.     0.     0.     1.     1.     0.     2.     0.     0.
    0.     0.     0.     0.     0.     0.     3.    20.05   0.  ]
 [  0.     0.     1.     1.    72.     1.     0.     2.     0.     0.
    0.     0.     0.     0.     2.     0.     1.    19.7    0.  ]
 [  1.     0.     1.     0.    72.     1.     1.     1.     0.     1.
    1.     0.     1.     1.     0.     1.     0.    99.     0.  ]
 [  1.     0.     1.     0.    72.     1.     1.     0.     1.     1.
    1.     1.     1.     1.     2.     1.     3.    81.     0.  ]]

## Kmode clustering for the dataset where Y=1

In [85]:
from kmodes.kmodes import KModes


km = KModes(n_clusters=num_of_clusters, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df_1)

df_1_centroids=km.cluster_centroids_

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 373, cost: 8791.0
Run 1, iteration: 2/100, moves: 173, cost: 8723.0
Run 1, iteration: 3/100, moves: 72, cost: 8716.0
Run 1, iteration: 4/100, moves: 6, cost: 8716.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 690, cost: 8770.0
Run 2, iteration: 2/100, moves: 231, cost: 8705.0
Run 2, iteration: 3/100, moves: 8, cost: 8705.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 608, cost: 8888.0
Run 3, iteration: 2/100, moves: 29, cost: 8888.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 665, cost: 8703.0
Run 4, iteration: 2/100, moves: 236, cost: 8657.0
Run 4, iteration: 3/100, moves: 58, cost: 8657.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 576, cost: 8622.0
Run 5, iteration: 2/100, moves: 9, cost: 8622.0
Best run was number 5

In [86]:
print("Centroids:\n")
print(df_1_centroids)

Centroids:

[[  0.     0.     0.     0.     1.     1.     0.     1.     0.     0.
    0.     0.     0.     0.     0.     1.     0.    70.3    1.  ]
 [  0.     1.     0.     0.     4.     1.     1.     1.     0.     1.
    0.     0.     1.     1.     0.     1.     0.   100.2    1.  ]
 [  0.     1.     0.     0.     2.     1.     1.     1.     0.     0.
    1.     0.     1.     1.     0.     1.     0.    99.5    1.  ]
 [  1.     0.     1.     0.     1.     1.     0.     1.     0.     0.
    1.     0.     0.     0.     0.     0.     0.    19.95   1.  ]
 [  1.     0.     1.     0.    66.     1.     1.     1.     0.     1.
    1.     0.     1.     1.     0.     1.     2.    94.85   1.  ]
 [  0.     0.     1.     1.    17.     1.     1.     1.     0.     1.
    1.     0.     1.     1.     0.     1.     0.    94.4    1.  ]
 [  1.     0.     0.     0.     1.     1.     1.     1.     0.     0.
    0.     0.     0.     0.     0.     1.     0.    74.4    1.  ]
 [  1.     0.     0.     0.     1.     1.     0.     0.     0.     0.
    0.     0.     0.     0.     0.     1.     1.    20.2    1.  ]
 [  1.     1.     0.     0.     1.     1.     0.     1.     0.     0.
    0.     0.     1.     1.     0.     1.     0.    89.5    1.  ]
 [  0.     0.     0.     0.     2.     0.     0.     0.     0.     0.
    0.     0.     1.     1.     0.     1.     0.    34.7    1.  ]]

# Kprotoypes clustering

## Kprotoypes clustering for the dataset where Y=0

In [87]:
import numpy as np
from kmodes.kprototypes import KPrototypes


kproto = KPrototypes(n_clusters=num_of_clusters, init='Cao', verbose=2)
clusters = kproto.fit_predict(df_0, categorical=[0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,18])


# Print cluster centroids of the trained model.
print(kproto.cluster_centroids_)
# Print training statistics
print(kproto.cost_)
print(kproto.n_iter_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 1323, ncost: 991010.4445607205
Run: 1, iteration: 2/100, moves: 687, ncost: 926094.0715034514
Run: 1, iteration: 3/100, moves: 446, ncost: 889235.8557968192
Run: 1, iteration: 4/100, moves: 285, ncost: 879032.2037308147
Run: 1, iteration: 5/100, moves: 152, ncost: 875927.0339961856
Run: 1, iteration: 6/100, moves: 80, ncost: 874767.358970841
Run: 1, iteration: 7/100, moves: 14, ncost: 874719.4066283498
Run: 1, iteration: 8/100, moves: 4, ncost: 874711.4193062328
Run: 1, iteration: 9/100, moves: 1, ncost: 874709.9350307517
Run: 1, iteration: 10/100, moves: 0, ncost: 874709.9350307517
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 1161, ncost: 941958.24442736
Run: 2, iteration: 2/100, moves: 446, ncost: 923742.0611903017
Run: 2, iteration: 3/100, moves: 177, ncost: 917694.138815987
Run: 2, iteration: 4/100, moves: 83, ncost: 916156.8686448302
Run: 2, iteration: 5/100, moves: 55, ncost: 915320.067932738
Run: 2, iteration: 6/100, moves: 49, ncost: 914725.9399042943
Run: 2, iteration: 7/100, moves: 55, ncost: 914140.9964041146
Run: 2, iteration: 8/100, moves: 31, ncost: 913686.6487019673
Run: 2, iteration: 9/100, moves: 39, ncost: 913369.8890664073
Run: 2, iteration: 10/100, moves: 27, ncost: 913179.1165295824
Run: 2, iteration: 11/100, moves: 6, ncost: 913170.6415976677
Run: 2, iteration: 12/100, moves: 2, ncost: 913164.8045353414
Run: 2, iteration: 13/100, moves: 1, ncost: 913163.8187886822
Run: 2, iteration: 14/100, moves: 0, ncost: 913163.8187886822
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 1043, ncost: 954365.1229853976
Run: 3, iteration: 2/100, moves: 505, ncost: 905788.3167325335
Run: 3, iteration: 3/100, moves: 176, ncost: 902208.1495991526
Run: 3, iteration: 4/100, moves: 76, ncost: 901317.2318219084
Run: 3, iteration: 5/100, moves: 40, ncost: 901028.4254538364
Run: 3, iteration: 6/100, moves: 34, ncost: 900632.3737399367
Run: 3, iteration: 7/100, moves: 64, ncost: 899833.1970013573
Run: 3, iteration: 8/100, moves: 29, ncost: 899575.0251024571
Run: 3, iteration: 9/100, moves: 26, ncost: 899236.5929060485
Run: 3, iteration: 10/100, moves: 29, ncost: 898915.8726192954
Run: 3, iteration: 11/100, moves: 30, ncost: 898659.4924914055
Run: 3, iteration: 12/100, moves: 31, ncost: 898325.5455887762
Run: 3, iteration: 13/100, moves: 28, ncost: 898104.6896372179
Run: 3, iteration: 14/100, moves: 29, ncost: 897897.2644759192
Run: 3, iteration: 15/100, moves: 17, ncost: 897767.7595805078
Run: 3, iteration: 16/100, moves: 10, ncost: 897723.4328312583
Run: 3, iteration: 17/100, moves: 7, ncost: 897697.753688918
Run: 3, iteration: 18/100, moves: 6, ncost: 897679.7142104731
Run: 3, iteration: 19/100, moves: 2, ncost: 897678.0424168062
Run: 3, iteration: 20/100, moves: 0, ncost: 897678.0424168062
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 1285, ncost: 991217.24893859
Run: 4, iteration: 2/100, moves: 577, ncost: 950737.3122941251
Run: 4, iteration: 3/100, moves: 236, ncost: 942648.8018620907
Run: 4, iteration: 4/100, moves: 149, ncost: 938100.6184516648
Run: 4, iteration: 5/100, moves: 128, ncost: 933619.2435407373
Run: 4, iteration: 6/100, moves: 99, ncost: 931390.1589150787
Run: 4, iteration: 7/100, moves: 47, ncost: 930807.549946132
Run: 4, iteration: 8/100, moves: 20, ncost: 930681.2967752795
Run: 4, iteration: 9/100, moves: 8, ncost: 930644.1941886279
Run: 4, iteration: 10/100, moves: 6, ncost: 930627.4986752531
Run: 4, iteration: 11/100, moves: 1, ncost: 930625.5920030165
Run: 4, iteration: 12/100, moves: 0, ncost: 930625.5920030165
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 1456, ncost: 964699.6027596241
Run: 5, iteration: 2/100, moves: 529, ncost: 930670.0550003621
Run: 5, iteration: 3/100, moves: 242, ncost: 921337.5075213766
Run: 5, iteration: 4/100, moves: 167, ncost: 917075.9918860405
Run: 5, iteration: 5/100, moves: 102, ncost: 915600.2492408871
Run: 5, iteration: 6/100, moves: 57, ncost: 915058.9484843484
Run: 5, iteration: 7/100, moves: 34, ncost: 914820.7536497101
Run: 5, iteration: 8/100, moves: 27, ncost: 914520.3545307772
Run: 5, iteration: 9/100, moves: 25, ncost: 914384.8065157423
Run: 5, iteration: 10/100, moves: 37, ncost: 913843.9264788291
Run: 5, iteration: 11/100, moves: 17, ncost: 913701.6528329932
Run: 5, iteration: 12/100, moves: 30, ncost: 913265.8290943466
Run: 5, iteration: 13/100, moves: 36, ncost: 912846.9343354751
Run: 5, iteration: 14/100, moves: 29, ncost: 912636.8681960976
Run: 5, iteration: 15/100, moves: 40, ncost: 912275.8177895617
Run: 5, iteration: 16/100, moves: 33, ncost: 912047.1550366231
Run: 5, iteration: 17/100, moves: 20, ncost: 911900.3909928142
Run: 5, iteration: 18/100, moves: 26, ncost: 911618.3709852945
Run: 5, iteration: 19/100, moves: 31, ncost: 911193.7271060679
Run: 5, iteration: 20/100, moves: 39, ncost: 910619.113246262
Run: 5, iteration: 21/100, moves: 35, ncost: 910011.8104801263
Run: 5, iteration: 22/100, moves: 28, ncost: 909526.3932514095
Run: 5, iteration: 23/100, moves: 13, ncost: 909334.2633635586
Run: 5, iteration: 24/100, moves: 14, ncost: 909221.9489512776
Run: 5, iteration: 25/100, moves: 11, ncost: 909144.7851882321
Run: 5, iteration: 26/100, moves: 8, ncost: 909122.1870647905
Run: 5, iteration: 27/100, moves: 2, ncost: 909088.0680667576
Run: 5, iteration: 28/100, moves: 8, ncost: 909061.1834533793
Run: 5, iteration: 29/100, moves: 8, ncost: 909029.5703215827
Run: 5, iteration: 30/100, moves: 7, ncost: 908992.8374936699
Run: 5, iteration: 31/100, moves: 11, ncost: 908888.67804851
Run: 5, iteration: 32/100, moves: 14, ncost: 908772.8245594547
Run: 5, iteration: 33/100, moves: 22, ncost: 908522.5624354236
Run: 5, iteration: 34/100, moves: 25, ncost: 908203.2008506346
Run: 5, iteration: 35/100, moves: 55, ncost: 907040.9979786611
Run: 5, iteration: 36/100, moves: 83, ncost: 904640.939912403
Run: 5, iteration: 37/100, moves: 96, ncost: 900758.0330978422
Run: 5, iteration: 38/100, moves: 140, ncost: 894973.636486839
Run: 5, iteration: 39/100, moves: 136, ncost: 889608.4758855882
Run: 5, iteration: 40/100, moves: 110, ncost: 886027.1528974379
Run: 5, iteration: 41/100, moves: 95, ncost: 882608.015839492
Run: 5, iteration: 42/100, moves: 78, ncost: 880505.1525614127
Run: 5, iteration: 43/100, moves: 54, ncost: 879482.9298938864
Run: 5, iteration: 44/100, moves: 35, ncost: 878959.1929254207
Run: 5, iteration: 45/100, moves: 40, ncost: 878068.1535323847
Run: 5, iteration: 46/100, moves: 49, ncost: 877310.759093304
Run: 5, iteration: 47/100, moves: 43, ncost: 876564.5162817317
Run: 5, iteration: 48/100, moves: 33, ncost: 876031.5938455915
Run: 5, iteration: 49/100, moves: 46, ncost: 875459.0261089376
Run: 5, iteration: 50/100, moves: 37, ncost: 875176.7776516381
Run: 5, iteration: 51/100, moves: 20, ncost: 875066.0169905835
Run: 5, iteration: 52/100, moves: 7, ncost: 875039.2730558211
Run: 5, iteration: 53/100, moves: 2, ncost: 875037.0381112315
Run: 5, iteration: 54/100, moves: 8, ncost: 875016.6913839338
Run: 5, iteration: 55/100, moves: 6, ncost: 875000.9111285023
Run: 5, iteration: 56/100, moves: 6, ncost: 874986.826814628
Run: 5, iteration: 57/100, moves: 5, ncost: 874978.7684602601
Run: 5, iteration: 58/100, moves: 0, ncost: 874978.7684602601
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 1027, ncost: 1014127.6502498381
Run: 6, iteration: 2/100, moves: 428, ncost: 986848.6702775655
Run: 6, iteration: 3/100, moves: 306, ncost: 965091.8412103985
Run: 6, iteration: 4/100, moves: 198, ncost: 957649.9475138398
Run: 6, iteration: 5/100, moves: 160, ncost: 951021.3721733352
Run: 6, iteration: 6/100, moves: 99, ncost: 949434.3949980175
Run: 6, iteration: 7/100, moves: 60, ncost: 948360.0123733853
Run: 6, iteration: 8/100, moves: 71, ncost: 945563.5563973221
Run: 6, iteration: 9/100, moves: 80, ncost: 942252.5073583128
Run: 6, iteration: 10/100, moves: 124, ncost: 937033.9056313647
Run: 6, iteration: 11/100, moves: 114, ncost: 933024.2947831202
Run: 6, iteration: 12/100, moves: 58, ncost: 932042.1370130077
Run: 6, iteration: 13/100, moves: 26, ncost: 931848.2892528161
Run: 6, iteration: 14/100, moves: 19, ncost: 931634.7059009152
Run: 6, iteration: 15/100, moves: 12, ncost: 931597.3845743845
Run: 6, iteration: 16/100, moves: 12, ncost: 931561.35927374
Run: 6, iteration: 17/100, moves: 5, ncost: 931551.6137409306
Run: 6, iteration: 18/100, moves: 3, ncost: 931544.2791607612
Run: 6, iteration: 19/100, moves: 3, ncost: 931540.005769696
Run: 6, iteration: 20/100, moves: 1, ncost: 931538.862761122
Run: 6, iteration: 21/100, moves: 0, ncost: 931538.862761122
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 1590, ncost: 969314.9974970632
Run: 7, iteration: 2/100, moves: 500, ncost: 931462.3865732022
Run: 7, iteration: 3/100, moves: 110, ncost: 929395.7750297843
Run: 7, iteration: 4/100, moves: 62, ncost: 928733.3838360278
Run: 7, iteration: 5/100, moves: 28, ncost: 928545.2237418583
Run: 7, iteration: 6/100, moves: 22, ncost: 928424.455375622
Run: 7, iteration: 7/100, moves: 10, ncost: 928361.2016676076
Run: 7, iteration: 8/100, moves: 5, ncost: 928345.4259454948
Run: 7, iteration: 9/100, moves: 9, ncost: 928316.8886398172
Run: 7, iteration: 10/100, moves: 2, ncost: 928314.4549008165
Run: 7, iteration: 11/100, moves: 0, ncost: 928314.4549008165
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 1042, ncost: 1105157.735029278
Run: 8, iteration: 2/100, moves: 630, ncost: 1034655.1409536545
Run: 8, iteration: 3/100, moves: 473, ncost: 991702.8026461032
Run: 8, iteration: 4/100, moves: 447, ncost: 938826.6970670203
Run: 8, iteration: 5/100, moves: 394, ncost: 891577.3288029404
Run: 8, iteration: 6/100, moves: 234, ncost: 880373.5181582298
Run: 8, iteration: 7/100, moves: 115, ncost: 877825.932098322
Run: 8, iteration: 8/100, moves: 86, ncost: 875693.152198561
Run: 8, iteration: 9/100, moves: 47, ncost: 875062.8632563332
Run: 8, iteration: 10/100, moves: 16, ncost: 874978.8133446705
Run: 8, iteration: 11/100, moves: 9, ncost: 874953.1783072699
Run: 8, iteration: 12/100, moves: 0, ncost: 874953.1783072699
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 949, ncost: 1035550.3626001894
Run: 9, iteration: 2/100, moves: 395, ncost: 1014699.0813782813
Run: 9, iteration: 3/100, moves: 172, ncost: 1009846.6418661424
Run: 9, iteration: 4/100, moves: 85, ncost: 1008116.4724523388
Run: 9, iteration: 5/100, moves: 42, ncost: 1007558.13395592
Run: 9, iteration: 6/100, moves: 22, ncost: 1007417.2402787373
Run: 9, iteration: 7/100, moves: 31, ncost: 1007049.9311261345
Run: 9, iteration: 8/100, moves: 24, ncost: 1006875.4021455237
Run: 9, iteration: 9/100, moves: 12, ncost: 1006763.5423923499
Run: 9, iteration: 10/100, moves: 6, ncost: 1006740.3788209016
Run: 9, iteration: 11/100, moves: 1, ncost: 1006739.7008390732
Run: 9, iteration: 12/100, moves: 0, ncost: 1006739.7008390732
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 1373, ncost: 1181620.524643083
Run: 10, iteration: 2/100, moves: 777, ncost: 1057761.645982068
Run: 10, iteration: 3/100, moves: 690, ncost: 944326.4965491527
Run: 10, iteration: 4/100, moves: 439, ncost: 913847.8537002715
Run: 10, iteration: 5/100, moves: 214, ncost: 906860.5196141811
Run: 10, iteration: 6/100, moves: 128, ncost: 904155.0047306046
Run: 10, iteration: 7/100, moves: 74, ncost: 903187.3526985022
Run: 10, iteration: 8/100, moves: 34, ncost: 902753.587126682
Run: 10, iteration: 9/100, moves: 18, ncost: 902673.405406183
Run: 10, iteration: 10/100, moves: 34, ncost: 902487.2067576024
Run: 10, iteration: 11/100, moves: 21, ncost: 902353.1364267711
Run: 10, iteration: 12/100, moves: 20, ncost: 902235.5275367022
Run: 10, iteration: 13/100, moves: 24, ncost: 902082.0928542188
Run: 10, iteration: 14/100, moves: 25, ncost: 901907.1410503373
Run: 10, iteration: 15/100, moves: 23, ncost: 901301.3962769958
Run: 10, iteration: 16/100, moves: 32, ncost: 900758.3214135361
Run: 10, iteration: 17/100, moves: 14, ncost: 900664.8224319769
Run: 10, iteration: 18/100, moves: 10, ncost: 900621.4606651919
Run: 10, iteration: 19/100, moves: 8, ncost: 900582.9259721286
Run: 10, iteration: 20/100, moves: 12, ncost: 900429.0874169269
Run: 10, iteration: 21/100, moves: 8, ncost: 900400.1943694103
Run: 10, iteration: 22/100, moves: 4, ncost: 900390.3376542815
Run: 10, iteration: 23/100, moves: 6, ncost: 900376.859785655
Run: 10, iteration: 24/100, moves: 6, ncost: 900361.9740108309
Run: 10, iteration: 25/100, moves: 9, ncost: 900295.4324539262
Run: 10, iteration: 26/100, moves: 5, ncost: 900289.1575631874
Run: 10, iteration: 27/100, moves: 0, ncost: 900289.1575631874
Best run was number 1
[array([[ 11.29642857,  80.02517857],
       [  8.63597734,  21.81487252],
       [ 63.62093863,  84.21218412],
       [ 33.48333333,  60.70095238],
       [ 35.67955801,  93.7820442 ],
       [ 61.46153846,  59.70297767],
       [  8.58901099,  52.13835165],
       [ 64.76324503, 106.28203642],
       [ 35.20382166,  23.60881104],
       [ 63.11353712,  23.14716157]]), array([[0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.],
       [1., 0., 0., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0.],
       [1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 2., 1., 3.,
        0.],
       [1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 3.,
        0.],
       [1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0.,
        0.],
       [0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 2., 1., 2.,
        0.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
        0.],
       [0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 1., 3.,
        0.],
       [0., 0., 1., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 2., 0., 1.,
        0.],
       [1., 0., 1., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 2., 0., 2.,
        0.]])]
874709.9350307517
10

In [92]:
for i in range(5):
  print("\nCentroid:",i+1,"\n")
  print("\nCentroid:",i+1,"\n\n(Numeric)\t\t\t\t\t\t(Categorical)\n")
  print(list(np.rint(np.around(kproto.cluster_centroids_[0][i],1))), end=' ')
  print(list(np.rint(np.around(kproto.cluster_centroids_[1][i],1))))

Centroid: 1


Centroid: 1

(Numeric)						(Categorical)

[40.0, 80.0] [0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 2


Centroid: 2

(Numeric)						(Categorical)

[5.0, 24.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0]

Centroid: 3


Centroid: 3

(Numeric)						(Categorical)

[47.0, 46.0] [1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 4


Centroid: 4

(Numeric)						(Categorical)

[17.0, 77.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 5


Centroid: 5

(Numeric)						(Categorical)

[22.0, 97.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

#### Kprototypes clustering for the dataset where Y=1

In [89]:
import numpy as np
from kmodes.kprototypes import KPrototypes


kproto = KPrototypes(n_clusters=num_of_clusters, init='Cao', verbose=2)
clusters = kproto.fit_predict(df_1, categorical=[0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,18])


# Print cluster centroids of the trained model.
print(kproto.cluster_centroids_)
# Print training statistics
print(kproto.cost_)
print(kproto.n_iter_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 399, ncost: 308953.70750731096
Run: 1, iteration: 2/100, moves: 245, ncost: 289349.2946361419
Run: 1, iteration: 3/100, moves: 245, ncost: 260810.1095359313
Run: 1, iteration: 4/100, moves: 164, ncost: 256378.4380572299
Run: 1, iteration: 5/100, moves: 71, ncost: 255400.66361087275
Run: 1, iteration: 6/100, moves: 30, ncost: 255110.17673730792
Run: 1, iteration: 7/100, moves: 18, ncost: 254678.83670537392
Run: 1, iteration: 8/100, moves: 16, ncost: 254350.04038856365
Run: 1, iteration: 9/100, moves: 17, ncost: 254193.3935656778
Run: 1, iteration: 10/100, moves: 9, ncost: 254154.26022982775
Run: 1, iteration: 11/100, moves: 6, ncost: 254137.40008570836
Run: 1, iteration: 12/100, moves: 6, ncost: 254117.71061906402
Run: 1, iteration: 13/100, moves: 5, ncost: 254100.56732669595
Run: 1, iteration: 14/100, moves: 4, ncost: 254095.19253548057
Run: 1, iteration: 15/100, moves: 1, ncost: 254094.84890283056
Run: 1, iteration: 16/100, moves: 0, ncost: 254094.84890283056
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 321, ncost: 288161.5932383297
Run: 2, iteration: 2/100, moves: 123, ncost: 280529.66664445784
Run: 2, iteration: 3/100, moves: 87, ncost: 276184.03730369103
Run: 2, iteration: 4/100, moves: 70, ncost: 269801.7542443133
Run: 2, iteration: 5/100, moves: 76, ncost: 265023.9893025894
Run: 2, iteration: 6/100, moves: 65, ncost: 262123.77544104608
Run: 2, iteration: 7/100, moves: 71, ncost: 258611.8215831987
Run: 2, iteration: 8/100, moves: 55, ncost: 256896.654278859
Run: 2, iteration: 9/100, moves: 40, ncost: 256061.37558608525
Run: 2, iteration: 10/100, moves: 15, ncost: 255632.33536061915
Run: 2, iteration: 11/100, moves: 24, ncost: 255251.1667694308
Run: 2, iteration: 12/100, moves: 16, ncost: 255074.18040087394
Run: 2, iteration: 13/100, moves: 3, ncost: 255063.98788231247
Run: 2, iteration: 14/100, moves: 0, ncost: 255063.98788231247
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 640, ncost: 273371.6674234159
Run: 3, iteration: 2/100, moves: 183, ncost: 258706.03197807513
Run: 3, iteration: 3/100, moves: 64, ncost: 255502.2498835684
Run: 3, iteration: 4/100, moves: 23, ncost: 255048.72981935798
Run: 3, iteration: 5/100, moves: 9, ncost: 254981.97994389365
Run: 3, iteration: 6/100, moves: 3, ncost: 254960.62933605193
Run: 3, iteration: 7/100, moves: 3, ncost: 254928.5417561558
Run: 3, iteration: 8/100, moves: 2, ncost: 254920.5889338017
Run: 3, iteration: 9/100, moves: 0, ncost: 254920.5889338017
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 778, ncost: 271797.43442118005
Run: 4, iteration: 2/100, moves: 243, ncost: 253125.16652708646
Run: 4, iteration: 3/100, moves: 62, ncost: 251841.0694944558
Run: 4, iteration: 4/100, moves: 19, ncost: 251655.8327451566
Run: 4, iteration: 5/100, moves: 13, ncost: 251516.3671647785
Run: 4, iteration: 6/100, moves: 6, ncost: 251489.17520364985
Run: 4, iteration: 7/100, moves: 3, ncost: 251480.15971895555
Run: 4, iteration: 8/100, moves: 0, ncost: 251480.15971895555
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 554, ncost: 283450.0328157598
Run: 5, iteration: 2/100, moves: 197, ncost: 273254.6367127074
Run: 5, iteration: 3/100, moves: 141, ncost: 268627.88386059087
Run: 5, iteration: 4/100, moves: 81, ncost: 265151.21325436514
Run: 5, iteration: 5/100, moves: 64, ncost: 262473.39462899417
Run: 5, iteration: 6/100, moves: 45, ncost: 260934.08568084438
Run: 5, iteration: 7/100, moves: 33, ncost: 260322.65105665126
Run: 5, iteration: 8/100, moves: 25, ncost: 259971.1444623196
Run: 5, iteration: 9/100, moves: 21, ncost: 259673.45833319114
Run: 5, iteration: 10/100, moves: 20, ncost: 259342.43656395713
Run: 5, iteration: 11/100, moves: 23, ncost: 258651.8852674413
Run: 5, iteration: 12/100, moves: 47, ncost: 257702.46910021646
Run: 5, iteration: 13/100, moves: 42, ncost: 256776.6054017614
Run: 5, iteration: 14/100, moves: 41, ncost: 256266.2894717403
Run: 5, iteration: 15/100, moves: 34, ncost: 255618.20861543043
Run: 5, iteration: 16/100, moves: 27, ncost: 255248.59411966658
Run: 5, iteration: 17/100, moves: 22, ncost: 255044.45231270912
Run: 5, iteration: 18/100, moves: 30, ncost: 254194.1830848198
Run: 5, iteration: 19/100, moves: 48, ncost: 253725.87218333545
Run: 5, iteration: 20/100, moves: 35, ncost: 253408.16378019826
Run: 5, iteration: 21/100, moves: 24, ncost: 253222.2318286041
Run: 5, iteration: 22/100, moves: 22, ncost: 252962.4163348479
Run: 5, iteration: 23/100, moves: 22, ncost: 252589.54929173816
Run: 5, iteration: 24/100, moves: 33, ncost: 251850.03460952893
Run: 5, iteration: 25/100, moves: 35, ncost: 251353.77801459748
Run: 5, iteration: 26/100, moves: 22, ncost: 251132.4886018239
Run: 5, iteration: 27/100, moves: 14, ncost: 251067.36879209708
Run: 5, iteration: 28/100, moves: 10, ncost: 251026.2500852649
Run: 5, iteration: 29/100, moves: 10, ncost: 250989.172228802
Run: 5, iteration: 30/100, moves: 3, ncost: 250983.98344441986
Run: 5, iteration: 31/100, moves: 0, ncost: 250983.98344441986
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 421, ncost: 291316.3546615366
Run: 6, iteration: 2/100, moves: 324, ncost: 256089.82447306256
Run: 6, iteration: 3/100, moves: 101, ncost: 252116.85041803026
Run: 6, iteration: 4/100, moves: 34, ncost: 251696.67629348757
Run: 6, iteration: 5/100, moves: 19, ncost: 251651.60893583586
Run: 6, iteration: 6/100, moves: 4, ncost: 251643.98657061925
Run: 6, iteration: 7/100, moves: 5, ncost: 251633.30870141913
Run: 6, iteration: 8/100, moves: 1, ncost: 251631.1746733611
Run: 6, iteration: 9/100, moves: 6, ncost: 251614.17065049268
Run: 6, iteration: 10/100, moves: 1, ncost: 251613.5135760952
Run: 6, iteration: 11/100, moves: 0, ncost: 251613.5135760952
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 299, ncost: 287938.71471832803
Run: 7, iteration: 2/100, moves: 136, ncost: 279264.84851644264
Run: 7, iteration: 3/100, moves: 126, ncost: 273309.1897692163
Run: 7, iteration: 4/100, moves: 96, ncost: 268579.95066676085
Run: 7, iteration: 5/100, moves: 95, ncost: 263658.4922395215
Run: 7, iteration: 6/100, moves: 73, ncost: 260708.1458383753
Run: 7, iteration: 7/100, moves: 49, ncost: 259028.77438043474
Run: 7, iteration: 8/100, moves: 35, ncost: 258158.73211967087
Run: 7, iteration: 9/100, moves: 17, ncost: 258000.50443663262
Run: 7, iteration: 10/100, moves: 11, ncost: 257838.7011613181
Run: 7, iteration: 11/100, moves: 5, ncost: 257828.6580810224
Run: 7, iteration: 12/100, moves: 0, ncost: 257828.6580810224
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 413, ncost: 293321.48917052447
Run: 8, iteration: 2/100, moves: 268, ncost: 267599.95214734116
Run: 8, iteration: 3/100, moves: 126, ncost: 261251.34092425008
Run: 8, iteration: 4/100, moves: 65, ncost: 259213.07672937593
Run: 8, iteration: 5/100, moves: 58, ncost: 257432.02470654598
Run: 8, iteration: 6/100, moves: 34, ncost: 256685.9800941116
Run: 8, iteration: 7/100, moves: 23, ncost: 256323.34272385808
Run: 8, iteration: 8/100, moves: 28, ncost: 255669.9146761813
Run: 8, iteration: 9/100, moves: 25, ncost: 255235.48738655134
Run: 8, iteration: 10/100, moves: 7, ncost: 255218.14824472618
Run: 8, iteration: 11/100, moves: 5, ncost: 255211.0515909736
Run: 8, iteration: 12/100, moves: 1, ncost: 255209.96906779608
Run: 8, iteration: 13/100, moves: 0, ncost: 255209.96906779608
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 343, ncost: 275396.85205528565
Run: 9, iteration: 2/100, moves: 158, ncost: 260101.4838098368
Run: 9, iteration: 3/100, moves: 62, ncost: 256930.49837544735
Run: 9, iteration: 4/100, moves: 75, ncost: 253770.8390764512
Run: 9, iteration: 5/100, moves: 75, ncost: 251958.1313265625
Run: 9, iteration: 6/100, moves: 42, ncost: 251238.8145045523
Run: 9, iteration: 7/100, moves: 37, ncost: 250808.84349853912
Run: 9, iteration: 8/100, moves: 21, ncost: 250454.41055948997
Run: 9, iteration: 9/100, moves: 29, ncost: 250050.1529817385
Run: 9, iteration: 10/100, moves: 28, ncost: 249648.2606833607
Run: 9, iteration: 11/100, moves: 19, ncost: 249501.27474256404
Run: 9, iteration: 12/100, moves: 11, ncost: 249417.6938699498
Run: 9, iteration: 13/100, moves: 6, ncost: 249360.16594836995
Run: 9, iteration: 14/100, moves: 2, ncost: 249356.5583614081
Run: 9, iteration: 15/100, moves: 1, ncost: 249354.84344940123
Run: 9, iteration: 16/100, moves: 3, ncost: 249350.34380114984
Run: 9, iteration: 17/100, moves: 3, ncost: 249346.35982336587
Run: 9, iteration: 18/100, moves: 0, ncost: 249346.35982336587
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 587, ncost: 292619.45627586654
Run: 10, iteration: 2/100, moves: 353, ncost: 260507.778189123
Run: 10, iteration: 3/100, moves: 195, ncost: 255237.8464397917
Run: 10, iteration: 4/100, moves: 59, ncost: 254534.92190338252
Run: 10, iteration: 5/100, moves: 19, ncost: 254395.00817189884
Run: 10, iteration: 6/100, moves: 5, ncost: 254377.71528486512
Run: 10, iteration: 7/100, moves: 11, ncost: 254225.96646829756
Run: 10, iteration: 8/100, moves: 5, ncost: 254210.49111129803
Run: 10, iteration: 9/100, moves: 0, ncost: 254210.49111129803
Best run was number 9
[array([[ 39.95867769,  79.5053719 ],
       [  5.11049724,  23.82596685],
       [ 47.3015873 ,  45.5468254 ],
       [ 17.33766234,  77.28474026],
       [ 22.34090909,  96.68465909],
       [  5.91828794,  48.95719844],
       [ 42.125     , 101.79833333],
       [ 62.50714286, 101.88142857],
       [  6.19063545,  92.3590301 ],
       [  3.02513966,  74.67555866]]), array([[0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        1.],
       [1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0.,
        1.],
       [1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.]])]
249346.35982336587
18

In [91]:
for i in range(num_of_clusters):
  print("\nCentroid:",i+1,"\n\n(Numeric)\t\t\t\t\t\t(Categorical)\n")
  print(list(np.rint(np.around(kproto.cluster_centroids_[0][i],1))), end=' ')
  print(list(np.rint(np.around(kproto.cluster_centroids_[1][i],1))))

Centroid: 1

(Numeric)						(Categorical)

[40.0, 80.0] [0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 2

(Numeric)						(Categorical)

[5.0, 24.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0]

Centroid: 3

(Numeric)						(Categorical)

[47.0, 46.0] [1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 4

(Numeric)						(Categorical)

[17.0, 77.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 5

(Numeric)						(Categorical)

[22.0, 97.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 6

(Numeric)						(Categorical)

[6.0, 49.0] [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 7

(Numeric)						(Categorical)

[42.0, 102.0] [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 8

(Numeric)						(Categorical)

[62.0, 102.0] [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0]

Centroid: 9

(Numeric)						(Categorical)

[6.0, 92.0] [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 10

(Numeric)						(Categorical)

[3.0, 75.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]