In [28]:
from google.colab import files

uploaded0 = files.upload()

Saving clustering_rules_0.csv to clustering_rules_0 (3).csv

In [29]:
import pandas as pd
import io
telco0 = pd.read_csv(io.BytesIO(uploaded0['clustering_rules_0.csv']))
telco0=telco0.drop(['Unnamed: 0','tenure','MonthlyCharges'] , axis=1)
telco0.head()

   gender  SeniorCitizen  Partner  ...  PaperlessBilling  PaymentMethod  Churn
0     0.0            0.0      0.0  ...               1.0            0.0    0.0
1     0.0            0.0      1.0  ...               1.0            2.0    0.0
2     1.0            0.0      0.0  ...               1.0            0.0    0.0
3     0.0            0.0      1.0  ...               1.0            2.0    0.0
4     1.0            0.0      1.0  ...               1.0            0.0    0.0

[5 rows x 17 columns]

In [30]:
from google.colab import files

uploaded1 = files.upload()

Saving clustering_rules_1.csv to clustering_rules_1 (1).csv

In [31]:
import pandas as pd
import io
telco1 = pd.read_csv(io.BytesIO(uploaded1['clustering_rules_1.csv']))
telco1=telco1.drop(['Unnamed: 0','tenure','MonthlyCharges'] , axis=1)
telco1.head()

   gender  SeniorCitizen  Partner  ...  PaperlessBilling  PaymentMethod  Churn
0     0.0            0.0      0.0  ...               1.0            0.0    1.0
1     1.0            0.0      0.0  ...               1.0            0.0    1.0
2     1.0            0.0      0.0  ...               1.0            0.0    1.0
3     0.0            0.0      0.0  ...               1.0            0.0    1.0
4     1.0            0.0      0.0  ...               1.0            1.0    1.0

[5 rows x 17 columns]

In [0]:

df_1=telco1[telco1['Churn']==1]
df_0=telco0[telco0['Churn']==0]

In [0]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [0]:
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1
  
# Encoding the datasets 


df_0_encoded= df_0.applymap(hot_encode) 

df_1_encoded = df_1.applymap(hot_encode)

In [36]:
# Building the model when Churn=1
frq_items = apriori(df_0_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

                antecedents  ... conviction
3107  (gender, TechSupport)  ...        inf
3362  (gender, TechSupport)  ...        inf
3389  (gender, TechSupport)  ...        inf
3764  (gender, TechSupport)  ...        inf
3774  (gender, TechSupport)  ...        inf

[5 rows x 9 columns]

In [37]:
# Building the model when Churn=1
frq_items = apriori(df_0_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

                antecedents  ... conviction
3107  (gender, TechSupport)  ...        inf
3362  (gender, TechSupport)  ...        inf
3389  (gender, TechSupport)  ...        inf
3764  (gender, TechSupport)  ...        inf
3774  (gender, TechSupport)  ...        inf

[5 rows x 9 columns]