In [0]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
%matplotlib inline

In [39]:
url = 'https://raw.githubusercontent.com/SohelRaja/ML_repo_college/master/Decision%20Tree%20with%20Python/WA_Fn-UseC_-Telco-Customer-Churn.csv'
telco = pd.read_csv(url)
telco=telco.drop(['customerID','TotalCharges'] , axis=1)
telco.head(20)

    gender  SeniorCitizen  ... MonthlyCharges Churn
0   Female              0  ...          29.85    No
1     Male              0  ...          56.95    No
2     Male              0  ...          53.85   Yes
3     Male              0  ...          42.30    No
4   Female              0  ...          70.70   Yes
5   Female              0  ...          99.65   Yes
6     Male              0  ...          89.10    No
7   Female              0  ...          29.75    No
8   Female              0  ...         104.80   Yes
9     Male              0  ...          56.15    No
10    Male              0  ...          49.95    No
11    Male              0  ...          18.95    No
12    Male              0  ...         100.35    No
13    Male              0  ...         103.70   Yes
14    Male              0  ...         105.50    No
15  Female              0  ...         113.25    No
16  Female              0  ...          20.65    No
17    Male              0  ...         106.70    No
18  Female              0  ...          55.20   Yes
19  Female              0  ...          90.05    No

[20 rows x 19 columns]

In [40]:
telco['Partner'].replace(to_replace=[['No'],['Yes']],value=['PartnerNo','PartnerYes'],inplace=True)
telco['Dependents'].replace(to_replace=[['No'],['Yes']],value=['Independent','Dependent'],inplace=True)
telco['PhoneService'].replace(to_replace=[['No'],['Yes']],value=['PSNo','PSYes'],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['No'],['Yes']],value=['PLBNo','PLBYes'],inplace=True)
telco['MultipleLines'].replace(to_replace=[['No phone service'],['No'],['Yes']],value=['MLNo','MLNo','MLYes'],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OSNo','OSNo','OSYes'],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OBNo','OBNo','OBYes'],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['DPNo','DPNo','DPYes'],inplace=True)
telco['TechSupport'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['TSNo','TSNo','TSYes'],inplace=True)
telco['StreamingTV'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['STVNo','STVNo','STVYes'],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['SMNo','SMNo','SMYes'],inplace=True)
telco.head(20)

    gender  SeniorCitizen  ... MonthlyCharges Churn
0   Female              0  ...          29.85    No
1     Male              0  ...          56.95    No
2     Male              0  ...          53.85   Yes
3     Male              0  ...          42.30    No
4   Female              0  ...          70.70   Yes
5   Female              0  ...          99.65   Yes
6     Male              0  ...          89.10    No
7   Female              0  ...          29.75    No
8   Female              0  ...         104.80   Yes
9     Male              0  ...          56.15    No
10    Male              0  ...          49.95    No
11    Male              0  ...          18.95    No
12    Male              0  ...         100.35    No
13    Male              0  ...         103.70   Yes
14    Male              0  ...         105.50    No
15  Female              0  ...         113.25    No
16  Female              0  ...          20.65    No
17    Male              0  ...         106.70    No
18  Female              0  ...          55.20   Yes
19  Female              0  ...          90.05    No

[20 rows x 19 columns]

In [41]:
telco['gender'].replace(to_replace=[['Female'],['Male']],value=[0,1],inplace=True)
telco['Partner'].replace(to_replace=[['PartnerNo'],['PartnerYes']],value=[0,1],inplace=True)
telco['Dependents'].replace(to_replace=[['Independent'],['Dependent']],value=[0,1],inplace=True)
telco['PhoneService'].replace(to_replace=[['PSNo'],['PSYes']],value=[0,1],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['PLBNo'],['PLBYes']],value=[0,1],inplace=True)
telco['MultipleLines'].replace(to_replace=[['MLNo'],['MLYes']],value=[0,1],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['OSNo'],['OSYes']],value=[0,1],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['OBNo'],['OBYes']],value=[0,1],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['DPNo'],['DPYes']],value=[0,1],inplace=True)
telco['TechSupport'].replace(to_replace=[['TSNo'],['TSYes']],value=[0,1],inplace=True)
telco['StreamingTV'].replace(to_replace=[['STVNo'],['STVYes']],value=[0,1],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['SMNo'],['SMYes']],value=[0,1],inplace=True)
telco['InternetService'].replace(to_replace=[['DSL'],['Fiber optic'],['No']],value=[0,1,2],inplace=True)
telco['PaymentMethod'].replace(to_replace=[['Electronic check'],['Mailed check'],['Bank transfer (automatic)'],['Credit card (automatic)']],value=[0,1,2,3],inplace=True)
telco['Contract'].replace(to_replace=[['Month-to-month'], ['One year'], ['Two year']],value=[0,1,2],inplace=True)
telco['Churn'].replace(to_replace=[['No'], ['Yes']],value=[0,1],inplace=True)
telco.head(20)

    gender  SeniorCitizen  Partner  ...  PaymentMethod  MonthlyCharges  Churn
0        0              0        1  ...              0           29.85      0
1        1              0        0  ...              1           56.95      0
2        1              0        0  ...              1           53.85      1
3        1              0        0  ...              2           42.30      0
4        0              0        0  ...              0           70.70      1
5        0              0        0  ...              0           99.65      1
6        1              0        0  ...              3           89.10      0
7        0              0        0  ...              1           29.75      0
8        0              0        1  ...              0          104.80      1
9        1              0        0  ...              2           56.15      0
10       1              0        1  ...              1           49.95      0
11       1              0        0  ...              3           18.95      0
12       1              0        1  ...              3          100.35      0
13       1              0        0  ...              2          103.70      1
14       1              0        0  ...              0          105.50      0
15       0              0        1  ...              3          113.25      0
16       0              0        0  ...              1           20.65      0
17       1              0        0  ...              2          106.70      0
18       0              0        1  ...              3           55.20      1
19       0              0        0  ...              0           90.05      0

[20 rows x 19 columns]

In [42]:
telco.describe()

            gender  SeniorCitizen  ...  MonthlyCharges        Churn
count  7043.000000    7043.000000  ...     7043.000000  7043.000000
mean      0.504756       0.162147  ...       64.761692     0.265370
std       0.500013       0.368612  ...       30.090047     0.441561
min       0.000000       0.000000  ...       18.250000     0.000000
25%       0.000000       0.000000  ...       35.500000     0.000000
50%       1.000000       0.000000  ...       70.350000     0.000000
75%       1.000000       0.000000  ...       89.850000     1.000000
max       1.000000       1.000000  ...      118.750000     1.000000

[8 rows x 19 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [44]:
X=telco[['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges']]
X1=telco[['tenure','InternetService','PhoneService']]
y=telco['Churn']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=2)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)
X1_train,X1_test,y_train,y_test=train_test_split(X1,y,test_size=0.1,random_state=2)

Train set: (6338, 18) (6338,)
Test set: (705, 18) (705,)

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [0]:
logreg =LogisticRegression()

In [47]:
logreg.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred =logreg.predict(X_test)

In [49]:
print('Accuracy of logistic regression classifier on test set:{:.2f}'.format(logreg.score(X_test,y_test)*100))

Accuracy of logistic regression classifier on test set:80.57

In [0]:
logreg1 =LogisticRegression()

In [51]:
logreg1.fit(X1_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred =logreg1.predict(X1_test)

In [53]:
print('Accuracy of logistic regression classifier on test set:{:.2f}'.format(logreg1.score(X1_test,y_test)*100))

Accuracy of logistic regression classifier on test set:78.72